/* @import url("assets/fonts/Noto_Sans_Mono.zip"); quick and dirty way to import a font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@font-face {
    font-family: "font-1";
    src: url("assets/fonts/Noto_Sans_Mono/static/NotoSansMono/NotoSansMono-Regular.ttf");
}

* {  /* asterisk(*) refers to all  */
    font-family: "font-1";
    font-family: "Noto Sans";
}

body, html, .page {
    height: auto; /* fills up whole page, instead of 100% */
    margin: 0;
  }

.masthead{
    position: relative;
    width:100%;
}

.masthead::before{
    content: "";
    background-image: linear-gradient(to right, rgba(243, 221, 250, 0.99), rgba(254, 205, 255, 0.3)), url('assets/images/droso_1.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -1;
}

.banner{
    text-decoration: none;
    color: #303030;
    /* text-transform: uppercase; */
}

.banner h1{
    letter-spacing: 5px;
    margin-left: 2rem;
    text-shadow:2px 2px 1px #b2b1b1;
}

.banner h2{
    visibility: visible;
    margin-left: 2rem;
}

.navbar{
    justify-content: space-around;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-weight: bold;
}

/*   .navbar li:not(:last-child):after {
    content: '|';
    margin: 0 5px;
} */

.navbar::before{
    content: "";
    background-color: #e2b7ff;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
    z-index: -1;
}

.navbar a, .discrete_link {
    text-decoration: none;
    color: #606060;
}

a:hover{
    color: #000000;
}

.content {
    position: relative;
    width:100%;
    height: 100%;
}

.content::before{
    /* The image used */
    /*  background-color: #000000; */
    content: "";
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/316/164/original/cute-colorful-texture-with-flowers-leaves-and-plants-free-vector.jpg");
    opacity: 0.5;
    z-index: -1000;
    /* Full height */
    width:100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-blend-mode: color;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

.pdf_link, .conto, .indisponivel{
    background-color: white;
    padding: 2%;
    width: 80%;
    padding-bottom: 50px;
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  }

.indisponivel{
    font-size:10vw;
    text-align: center;
}

.pdf_link{
    text-align: center;
}

.illustration{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }


footer{
    position: absolute;
    bottom:0px;
    height:30px;
    width:100%;
    background: #e2b7ff;
    z-index: 1;
    justify-content: space-around;
    opacity: 0.97;
  }


footer > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

figure{
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 5%;
}

.science_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.about_me{
    display:flex;
    width:100%;
    padding-left:50px;
}

.about_me_text{
    width: 100%;
    margin-top: 70px;
}

.portrait_rsa{
width:40%;
display: flex;
margin: 0px;
}
